@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
body {
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 10%;
}

.row-3 {
    display: flex;
    justify-content: space-between;
}

.row-3 > div {
    width: 32%;
}

/* style for menu */

.menu {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)),
    url(../img/first-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.menu-position {
    display: flex;
    justify-content: space-between;
    padding: 34px 32px;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/

}
ul.topnav li {
    float: right;
}
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans";
}
ul.topnav li a:hover {
    background-color: #555;

}
ul.topnav li.iconM {
    display: none;
}

.menu-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-title-style {
    opacity: 0.9;
    color: #fefefe;
    font-family: Dosis;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 51.01px;
    margin: 26vh 0 10vh;
}

.menu-subtitle {
    opacity: 0.68;
    color: #fefefe;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
}

.home-button:before {
    display: block;
    content: "";
    padding: 12px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    background: white;
    border-radius: 3px;
    transform: rotate(45deg);
    z-index: 1;
}

.home-button-style {
    margin-left: 7px;
    position: absolute;
    left: 50%;
    bottom: 30px;
    color: black;
    font-size: 15px;
    z-index: 2;
}
.icon{
    display: none;
}

/* styles for about section */
.t3d {
    height: 520px;
    margin: 20px 0;
    perspective: 1000px;
}

.rotate-card{
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: 0.5s;
    transform-origin: center ;
}

.rotate-card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    transition: 0.5s;
}

.worker-about{
    position: absolute;
    margin:7% 20%;
    line-height: 16px;
    color: #777777;
    font-size: 12px;
    letter-spacing: 4.8px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    text-transform:uppercase;
}

.rotate-card-front {
    background-color: #fff;
}

.rotate-card-back {
    background: #fff;
    transform: rotateY(180deg);
}

.rotate-card:hover .rotate-card-front{
    transform: rotateY(180deg);
}

.rotate-card:hover .rotate-card-back {
    transform: rotateY(360deg);
}


.title {
    color: #111111;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 9px;
    margin: 6% 0;
    text-align: center;
}

.worker-name, .worker-job {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    color: #777777;
    text-align: center;
    font-weight: 400;
}

.title-about {
    text-align: left;
}

.worker-name {
    font-size: 15px;
    letter-spacing: 6px;
    margin: 30px 0 16px;
}

.worker-job {
    font-size: 12px;
    letter-spacing: 4.8px;
}

.subtitle-about {
    color: #777777;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 300;
    line-height: 38px;
}

.subtitle-about > small {
    font-size: 11px;
}

.text-about {
    color: #777777;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    text-align: justify;
}

.img-list {
    margin: 6% 0;
}

/* section services */
#services .hide{
    display: none;
}
#services .show{
    display: flex;
}

.list-services {
    display: flex;
    justify-content: center;
}

.list-services li {
    text-align: center;
    margin: 0 3%;
    color: #777777;
}

.list-services li span {
    font-size: 48px;
    font-weight: 400;
}

.active-icon span {
    color: #111111;
}
.list-services .active-icon h4,
.list-services .active-icon span {
    color: #111111;
}

/* section digital-services */

.digital-services {
    height: 443px;
    background-color: #111111;
    margin: 5% 0;
}

.white-title {
    color: #ffffff;
    font-family: Dosis;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 5.4px;
}

.white-text {
    opacity: 0.7;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 27px;
}

.monitor-img {
    float: right;
    margin-top: -40px;
}

.digital-services-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 443px;
}

.white-button {
    background-color: #ffffff;
    color: #111111;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    opacity: 0.8;
    border: none;
    outline: none;
    width: 40%;
    padding: 12px 0;
    margin: 40px 0;
}

.white-button:hover {
    cursor: pointer;
    opacity: 0.5;
}

/* portfolio */

.portfolio-text {
    max-width: 50%;
    margin: 0 auto;
}

.portfolio-list {
    display: flex;
    justify-content: center;
}

.portfolio-list li {
    list-style: none;
    color: #111111;
    font-family: Dosis;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5.2px;
    padding: 35px;
}

.portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gray-layer {
    width: 30%;
    filter: grayscale(100%);
}

.gray-layer:hover {
    filter: none;
    cursor: pointer;
}

/* creative-works */

.creative-works {
    background-color: #111111;
    height: 218px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-start-project {
    width: auto;
    padding: 12px 50px;
    margin: 24px 0 0;
}

/* why choose us */

.title-item {
    color: #111111;
    font-family: Dosis;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5.6px;
    margin: 35px 0;
}

.custom-items span {
    color: #111111;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 24px;
    margin: 35px 0 0;
}

.row-3-centre {
    text-align: center;
}

.row-margin {
    margin-top: 40px;
}
/*section what people say*/
.box-slider {
    margin-top: 3%;
    width: 100%;
    overflow: hidden;
}

.list-inform {
    display: flex;
    transition: all ease 1s;
    margin-left: 0;
}

.slider-list{
    min-width: 99vw;
}


.people-say {
    padding: 5% 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all ease 1s;
}

.people-say-list{
    text-align: center;
    width: 40%;
}

.icon-slider {
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 23px;
}

.people-text {
    opacity: 0.75;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    margin: 43px 0 26px 0;
}

.people-text-list {
    opacity: 0.3;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 38px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
}

.btn-right {
    position: relative;
    border-top: 40px solid transparent;
    border-left: 48px solid #ffffff;
    border-bottom: 40px solid transparent;
    cursor: pointer;
}

.btn-right-icon {
    color: #000000;
    top: -4px;
    position: absolute;
    left: -38px;
}

.btn-left {
    position: relative;
    border-top: 40px solid transparent;
    border-right: 48px solid #ffffff;
    border-bottom: 40px solid transparent;
    cursor: pointer;
}

.btn-left-icon {
    position: absolute;
    right: -38px;
    top: -6px;
    color: #000000;
}


/* section latest news */

.news-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.news-title a {
    color: #999999;
    font-family: Dosis;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4.4px;
    text-decoration: none;
}

.news-item p {
    text-align: left;
}

.text-news {
    margin: 20px 0;
}

.gray-btn {
    background-color: #e6e6e6;
    color: #777777;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    border: none;
    padding: 10px 20px;
}

/* section subscribe */

.subscribe {
    display: flex;
    height: 264px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

.subscribe-title {
    color: #111111;
    font-family: Dosis;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 4.8px;
}

.subscribe-form {
    margin: 21px 0;
}

.subscribe-form input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 137px 0 14px;
    height: 35px;
    color: #777777;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

.subscribe-button {
    border: none;
    height: 36px;
    padding: 0 20px;
    background-color: #111111;
    opacity: 0.8;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    border-radius: 2px;
}

.subscribe-text {
    color: #aaaaaa;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
}

/* section contact */

.contacts {
    margin: 0 20%;
}

.contact-title {
    margin-top: 140px;
}
.text-call {
    color: #777777;
    font-family: "Dosis";
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 3.6px;
    line-height: 1px;
    text-transform: uppercase;
}

.contact {
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 24px;
}
.contact-inputs {
    display: flex;
}

.contact-inputs div {
    width: 50%;
    margin: 6% 0% 2%;
}

.fa-black {
    font: normal normal normal 14px/1 FontAwesome;
    margin: 7%;
    font-size: 25px;
   }

.contact-inputs input, .contact-inputs textarea {
    width: 98%;
    height: 36px;
    margin: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #777777;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
}

.contact-inputs textarea {
    height: 85px;
}

.contact-button {
    display: flex;
    justify-content: space-between;
}
/*location*/
.map-block{
    margin-top: 6%;
    position: relative;
    overflow: hidden;
}
.map-block .inform-map-block{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    transition: all .6s linear;
}

.map-block:hover .inform-map-block{
    opacity: 0;
    transform: translateY(100%);
}

.map-block .map-content{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.map-content .title{
    display: block;
}

.title {
    font-size: 40px;
    color: #999999;
}
/*section footer*/

.icon {
    display: flex;
    justify-content: center;
    margin: auto;
}

.for-mountains{
    margin: 10% 46% 3% 47%;
}

.for-border-icon{
    -webkit-transform: rotate(-45deg);
    margin: 0 1%;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.9);
    background-color: white;
    border-radius: 7px;
}

.fab{
    font-family: "Font Awesome 5 Brands";
    -webkit-transform: rotate(45deg);
    margin: 9px;
}

.footer-by {
    text-align: center;
    margin: 4% 38% 2% 39%;
    font-family: Dosis;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 6px;
}

.rhythm {
    color: #111111;
    font-family: Dosis;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin: 100px 0 10px;
}

.with-love {
    color: #999999;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
}



/*Media Queries*/
@media screen and (max-width: 960px){
    .row-3 {
        flex-wrap: wrap;
    }

    .row-3 > div {
        width: 94%;
    }
    .row-3 .subtitle-about {
        width: 100%;

    }
    .worker-name {
        font-size: 14px;
        letter-spacing: 6px;
        margin: 8px 0 -12px;
    }

    .text-about{
        margin: 2%;
    }

    .img-list > div {
        width: 100%;
        text-align: center;
    }

    .monitor-img{
        display: none;
    }
    .list-services{
        flex-wrap: wrap;
    }

    .portfolio-text {
        max-width: 90%;
    }

    .contacts {
        margin: 0 4%;
        text-align: center;
    }

    .contact-inputs> div{
        width: 100%;
        margin: 0 6%;
    }
    .contact-button {
        flex-direction: column;
        align-items: flex-start;
    }
    .menu-title-style{
        width: 33%;
        font-size: 15px;
        letter-spacing: 5.01px;
        margin: 20vh 0 7vh;
    }
    .menu-subtitle {
        width: 60%;
        font-size: 14px;
    }
    .home-button-style{
        margin-left: 4px;
    }

    .home-button:before{
        font-size: 15px;
        padding: 9px;
    }
    .news-title {
        display: block;
        margin: 2%;
    }

    .contact-inputs> div{
        display: inline-block;
        width: 50%;
        margin: -1%;
    }
    .worker-job{
        font-size: 12px;
        letter-spacing: 4.8px;
        padding: 4%;
    }
    .title{
        margin: 3% 0;
        letter-spacing: 10px;
        font-size: 18px;
        text-align: center;
    }
    .row-3 > img {
        max-width: 100%;
        margin: 2%;
        padding: 1%;
        vertical-align: middle;
    }

    .contact-inputs {
        flex-direction: column;
    }

    .contact-inputs > div{
        width: 100%;
        margin: 0;
    }

    .contact-button {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 600px) {
    ul.topnav li:not(:first-child){display: none;}
    ul.topnav li.iconM{
        float: right;
        display: inline-block;
    }
    .row-3 > div {
        width: 100%;
    }

    .portfolio-list {
        flex-direction: column;
        align-items: center;
    }

    .gray-layer {
        width: 100%;
    }

    /*.for-user {*/
        /*display: block;*/
    /*}*/


    .creative-works {
        text-align: center;
    }

    .home-button-style {
        margin-left: 4px;
    }

    .menu-title-style {
        letter-spacing: 3px;
    }
    .menu-subtitle{
        font-size: 11px;
    }

    .menu-subtitle div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

}
@media screen and (max-width: 600px) {
    ul.topnav.responsive{
        position: relative;
        background-color: #333;
    }
    ul.topnav.responsive li.iconM{
        position: absolute;
        right: 0;
        top: 0;

    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a{
        display: block;
        text-align: left;
    }
}

